.projectRoot {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.projectCard {
    width: 100%;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 5rem;
    padding: 1rem;
}

.projectCardTitle {
    font-size: clamp(20px, 3vw, 25px);
    font-weight: bold;
}

.photos {
    padding: 1rem 0;
}

.projectCardDescription {
    padding: 2rem 1rem 1rem 1rem;
    font-size: clamp(14px, 3vw, 20px);
}

.projectCardTechnologiesUsed {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.technology {
    display: flex;
    align-items: center;
    gap: 5px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 600px) {
    .technologies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .projectRoot {
        margin-top: 3rem;
    }
}

@media (max-width: 450px) {
    .technologies {
        grid-template-columns: repeat(2, 1fr);
    }
}